<p>match-info-component works!</p>
<h2>Match List</h2>
<ul class="heroes">
    <li *ngFor="let match of matches">
        <a routerLink="/matches/{{ match.match_id }}">
            <div>
                <!-- <p>{{ match. }}</p> -->
                <p>{{ match.team1 }} vs {{ match.team2 }}</p> 
                <p>{{ match.team1 }} vs {{ match.team2 }}</p>

            </div>
        </a>
        <!-- <span class="badge">{{ match.Team1 }} vs {{ match.Team2 }}</span> -->
    </li>
</ul>

<button (click)="goBack()">Go Back</button>
<button (click)="onNext()">Next</button>